* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

.body {
    width: 100%;
}

.khunglaptop {
    width: 1515px;
    margin: auto;
}

.container {
    width: 1250px;
    margin: auto;
}

header {
    width: 1515px;
    height: 80px;
    background-image: linear-gradient(to top right, rgb(7, 211, 7), rgba(187, 236, 80, 0.831));
    position: fixed;
    top: 0px;
    z-index: 100000;
}

header .contaicon {
    width: 1250px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .trai {
    width: 13%;
    height: 80px;
    /* background-color: red; */
}

header .trai img {
    width: 100%;
    height: 100%;
}

header .giua {
    width: 62%;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .giua p {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

header .giua p a {
    text-decoration: none;
    color: white;
}

header .giua p a:hover {
    color: rgb(233, 233, 4);
}

header .giua1 {
    width: 25%;
    height: 80px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .giua1 input {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 55px;
    color: #4ca416;
    font-size: 15px;
    border-radius: 5px;
}

header .phai {
    width: 10%;
    height: 80px;
    /* background-color:fuchsia; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

header .phai p {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

header .phai p a {
    text-decoration: none;
    color: white;
}

header .phai p a:hover {
    color: rgb(233, 233, 4);
}

.section1 {
    width: 1515px;
    height: 720px;
    /* background-color: red; */
    background: url(../images/nong-nghiep-huu-co-organic.jpg) 30% 100%;
    /* background-size: 100% 100%; */
    background-color: #00000013;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .khung {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section1 i {
    font-size: 65px;
    padding-bottom: 10px;
    color: #4ca416;
    font-weight: bold;
    text-shadow: 0 0 3px white;
}

.section1 p {
    font-size: 40px;
    margin-bottom: 20px;
    color: #4ca416;
    font-weight: 500;
    text-shadow: 0 0 3px white;
}


.section1 button {
    background-color: white;
    padding: 8px 5px;
    border-radius: 5px;
}

.section1  #countdown {
    font-size: 40px;
    margin-top: 20px;
    padding: 10px 10px;
    color: red;
    font-weight: 500;
    text-shadow: 0 0 3px white;
    border:2px solid black;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.552);
}
.section1 button a {
    font-size: 18px;
    text-decoration: none;
    color: #4ca416;
}

.section1 button a:hover {
    color: orange;
}

.section2 {
    width: 1515px;
    height: 700px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4ca4162c;
}

.section2 .contaicon {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    /* background-color: aquamarine; */
}

.section2 .contaicon .trai {
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.section2 .contaicon .trai b {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: orange;
}

.section2 .contaicon .trai i {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #4ca416;
    padding: 30px 0px;
}

.section2 .contaicon .trai p {
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    color: black;
    line-height: 40px;
}

.section2 .contaicon .trai p .chudo {
    color: red;
    font-size: 22px;
}

.section2 .contaicon .phai {
    width: 50%;
    height: 100%;
    box-shadow: 0 0 5px black;
    /* border: 2px dashed black; */
    /* background-color: pink; */
}

.section2 .contaicon .phai img {
    width: 100%;
    height: 100%;
}

.section3 {
    width: 1515px;
    height: 900px;
    background-color: #62ff0014;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .contaicon {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 700px;
    /* background-color: darkred; */
}

.section3 .contaicon .tren {
    width: 1250px;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .contaicon .tren i {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: rgb(24, 24, 24);

}

.section3 .contaicon .giua {
    width: 1250px;
    height: 45%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center
}

.section3 .contaicon .giua .o {
    width: 19%;
    height: 95%;
    border: 2px dotted black;
    position: relative;
}

.section3 .contaicon .giua .o .tren {
    width: 100%;
    height: 70%;
    /* background-color: red; */
}

.section3 .contaicon .giua .o .tren img {
    width: 95%;
    height: 100%;
    /* background-color: rgb(208, 0, 255); */
    margin-top: 10px;

}

.section3 .contaicon .giua .o .tren img:hover {
    transform: scale(1.10, 1.10);
    transition: 1s;
}

.section3 .contaicon .giua .o .duoi {
    width: 100%;
    height: 30%;
    /* background-color: blue; */
}

.section3 .contaicon .giua .o .duoi h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 25px;
    
}
.section3 .contaicon .giua .o .duoi h3 a{
   color: black; 
   text-decoration: none;
}
.section3 .contaicon .giua .o .duoi h3 a:hover{
   color:#4ca416; 
}

.section3 .contaicon .giua .o .duoi p {
    padding-left: 20px;
    font-size: 18px;
    color: black;
}
.section3 .contaicon .giua .o .duoi p a{
    color: black; 
    text-decoration: none;
}
.section3 .contaicon .giua .o .duoi p a:hover{
    color: orange;
}

.section3 .contaicon .giua .o .duoi p span {
    text-decoration: line-through red;
    color: rgb(73, 73, 73);
}

.section3 .contaicon .giua .o .duoi .do {
    position: absolute;
    padding: 5px 10px;
    background-color: red;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}

.section3 .contaicon .giua1 {
    width: 1250px;
    height: 45%;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center
}

.section3 .contaicon .giua1 .o {
    width: 19%;
    height: 95%;
    border: 2px dotted black;
    position: relative;
}

.section3 .contaicon .giua1 .o .tren {
    width: 100%;
    height: 70%;
    /* background-color: red; */
}

.section3 .contaicon .giua1 .o .tren img {
    width: 90%;
    height: 95%;
    /* background-color: rgb(208, 0, 255); */
    margin-top: 10px;
}

.section3 .contaicon .giua1 .o .tren img:hover {
    transform: scale(1.10, 1.10);
    transition: 1s;
}


.section3 .contaicon .giua1 .o .duoi {
    width: 100%;
    height: 30%;
    /* background-color: blue; */
}

.section3 .contaicon .giua1 .o .duoi h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 25px;
}
.section3 .contaicon .giua1 .o .duoi h3 a{
    text-decoration: none;
    color: black;
}
.section3 .contaicon .giua1 .o .duoi h3 a:hover{
    color: #4ca416;
}

.section3 .contaicon .giua1 .o .duoi p {
    padding-left: 20px;
    font-size: 18px;
    color: black;
}
.section3 .contaicon .giua1 .o .duoi p a{
    text-decoration: none;
    color: black;
}
.section3 .contaicon .giua1 .o .duoi p a:hover{
    color: orange;
}

.section3 .contaicon .giua1 .o .duoi p span {
    text-decoration: line-through red;
    color: rgb(73, 73, 73);
}

.section3 .contaicon .giua1 .o .duoi .do {
    position: absolute;
    padding: 5px 10px;
    background-color: red;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}


.section3 .contaicon>.duoi {
    width: 1250px;
    height: 8%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section3 .contaicon>.duoi .khung {
    width: 160px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section3 .contaicon .duoi .khung button {
    padding: 5px 10px;
}

.section4 {
    width: 1515px;
    height: 800px;
    background-color: #4ca4162c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 .contaicon {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 600px;
}

.section4 .trai {
    width: 50%;
    height: 600px;
    /* background-color: red; */
}

.section4 .trai img {
    width: 100%;
    height: 100%;
}

.section4 .giua {
    width: 50%;
    height: 600px;
    /* background-color: violet; */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
}

.section4 .giua i {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    margin-top: -18px;
    font-weight: 800;
    color: rgb(24, 24, 24);
}

.section4 .giua input {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    color: #4ca416;
}

.section4 .giua button {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    margin-bottom: -15px;
}

.section4 .giua button a {
    color: black;
    text-decoration: none;
}

.section4 .giua button a:hover {
    color: rgb(225, 225, 5);
}

.section5 {
    width: 1515px;
    height: 680px;
    background-color: #62ff0014;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5 .contaicon {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 480px;
    /* background-color: red; */
}

.section5 .tren {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.section5 .tren i {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: rgb(24, 24, 24);
}

.section5 .khung {
    width: 100%;
    height: 90%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

.section5 .khung .o {
    width: 19%;
    height: 98%;
    border: 2px dotted black;
    border-radius: 8px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.section5 .khung .o .tren {
    width: 100%;
    height: 75%;
    /* background-color: saddlebrown; */
}

.section5 .khung .o .tren img {
    width: 99%;
    height: 99%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 0.6px;
    margin-top: 0.6px;
}

.section5 .khung .o .duoi {
    width: 100%;
    height: 25%;
    /* background-color: wheat; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.section5 .khung .o .duoi h3 {
    font-weight: bold;
    font-size: 28px;
    color: black;
    margin: 12px 0px;
}

.section5 .khung .o .duoi p {
    font-size: 22px;
    color: black;
    margin: 0px 15px;
}

.section6 {
    width: 1515px;
    height: 780px;
    background-color: #4ca4162c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6 .contaicon {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 580px;
    /* background-color: red; */
}

.section6 .contaicon .tren {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6 .contaicon .tren i {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    margin-top: -18px;
    font-weight: 800;
    color: rgb(24, 24, 24);
}

.section6 .contaicon .duoi {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.section6 .contaicon .duoi .hangtren {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.section6 .contaicon .duoi .hangtren .o {
    width: 32.5%;
    height: 94%;
    border: 2px dotted black;
    border-radius: 8px;
}

.section6 .contaicon .duoi .hangtren .o img {
    width: 99%;
    height: 99%;
    border-radius: 5px;
    margin-left: 2px;
    margin-top: 1px;
}

.section6 .contaicon .duoi .hangduoi {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.section6 .contaicon .duoi .hangduoi .o {
    width: 32.5%;
    height: 94%;
    border: 2px dotted black;
    border-radius: 8px;
}

.section6 .contaicon .duoi .hangduoi .o img {
    width: 99%;
    height: 99%;
    border-radius: 5px;
    margin-left: 2px;
    margin-top: 1px;
}

.section6 .o h3 {
    color: black;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 20px;
}

.section6 .o p {
    color: black;
    font-size: 20px;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.section6 .o a {
    color: black;
    font-size: 20px;
    padding: 5px 20px;
    text-decoration: none;
}

.section6 .o a:hover {
    color: #d8a15a;
}

.section7 {
    background: url('../images/phan06_preview_rev_1.png') 100%;
    background-repeat: no-repeat;
    background-size: 45% 100%;
    width: 1518px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #62ff0014;
}

.section7 .khung {
    background-color: white;
    width: 800px;
    height: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed black;
}

.section7 .khung .tren {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
}

.section7 .khung .tren p {
    font-size: 19px;
    color: black;
    padding: 20px 60px;
    font-weight: bold;
}

.section7 .khung .tren i {
    font-size: 25px;
    color: #d8a15a;
    padding: 0px 60px;
    font-weight: bold;
}

.section7 .khung .duoi {
    display: flex;
    justify-content: center;
}

.section7 .khung .duoi p {
    font-size: 19px;
    color: black;
    padding: 20px 60px;
}

.section8 {
    width: 1518px;
    height: 300px;
    /* margin-top: 50px; */
    /* background-color: #4ca416; */
    background-image: url(../images/20171221_7vUvhq9Nydkk9BHEqSqDpfve.jpg);
    background-size: 100% 100%;
    background-color: #000000b3;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.section8 .contaicon {
    width: 1250px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.section8 .trai {
    width: 50%;
    height: 300px;
    border-right: 2px solid rgba(0, 0, 0, 0.481);
    display: flex;
    justify-content: start;
    align-items: center;
}

.section8 .trai .khung {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.section8 .trai p {
    padding-left: 26px;
    font-size: 19px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    line-height: 30px;
    text-align: center;
}

.section8 .phai {
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

.section8 .phai .khung {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.section8 .phai p {
    padding-left: 26px;
    font-size: 19px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    line-height: 30px;
    text-align: center;

}

.section8 .phai>.phai {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.section8 .phai>.phai .o {
    width: 100%;
    height: 30%;
    /* border: 2px solid black; */
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.section8 .phai>.phai .o .trai {
    width: 36%;
    height: 100%;
}

.section8 .phai>.phai .o .trai img {
    width: 100%;
    height: 100%;
}

.section8 .phai>.phai .o .phai {
    width: 64%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section8 .phai>.phai .o .phai p {
    font-size: 19px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    line-height: 30px;
    margin-left: -25px;
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
